body {
    background-image: url(../img/bg.png);
    background-color: black;
    color: aqua;
    font-family: 'Courier New', Courier, monospace,serif;
    overflow-x: hidden;
}

.conainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    text-align: center;
}

.time-container {
    text-align: center;
    margin-top: 8rem;
}

h2 {
    font-size: 5rem;
}

span {
    font-size: 10rem;
}


@media only screen and (max-width:992px) {
    .conainer {
        max-width: 800px;
    }

    h2 {
        font-size: 3rem;
    }

    span {
        font-size: 7rem;
    }

}

@media only screen and (max-width:768px) {
    .conainer {
        max-width: 600px;
    }

    .time-container {
        margin-top: 5rem;
    }

    span {
        font-size: 5rem;
    }

}

@media only screen and (max-width:576px) {
    .conainer {
        max-width: 400px;
    }

    .time-container {
        margin-top: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    span {
        font-size: 3rem;
    }

}